<div id="desktop_window" class="border_radius_all base_window">

    <div id="club_icon">
        <%=image_tag "coach.jpg", :alt => "coach", :class => "image" %>
        <center>Тренер</center>
    </div>
    <span id="close_button" class="og-close"></span>
<!--	<div id="content" class="font_size_16 base_window_content">
		<div id="greetings" class="align_center font_size_16">
			Выбирите за кого вы будете играть.
		</div>

		<div id="boxes">
			<div id="first_box" class="base_window_first_box">
				<%=image_tag "coach.jpg", :alt => "coach", :class => "img_button" %>
				<center>Тренер</center>
			</div>

			<div class="check_box">
				<input type="checkbox" id="fm_checkbox" disabled class="regular-checkbox big-checkbox" /><label for="fm_checkbox"></label>
			</div>
			<div id="second_box" class="base_window_second_box">
				<%=image_tag "boss.jpg", :alt => "boss", :class => "img_button" %>
				<center>Директор</center>
			</div>
		</div>

		<div id="description" class="align_center base_window_description">

		</div>

		<center>
			<div id="button_next" class="white_button">Далее</div>
		</center>
	</div>-->
</div>