<div id="free_teams_window" class="border_radius_all base_window">
	<div id="lable" class="border_radius_top font_size_22 base_window_lable">

	</div>

	<div id="bottom_border">
	</div>

	<div id="content" class="font_size_16 base_window_content">
		<div id="greetings" class="align_center font_size_16">
			Выбирите за кого вы будете играть.
		</div>

		<div id="jp-container" class="jp-container">
			<ol id="selectable">
				<li id="new" class="ui-widget-content"></li>
			</ol>
		</div>

		<div id="description" class="align_center base_window_description">

		</div>

		<center>
			<div id="button_next" class="white_button"></div>
		</center>
	</div>
</div>