<div id="login_without_social_window" class="border_radius_all base_window">
	<div id="lable" class="border_radius_top font_size_22 base_window_lable">

	</div>

	<div id="bottom_border">
	</div>

	<div id="content" class="base_window_content">

        <input id="login" autofocus type="text" maxlength="254" required class="align_center border_radius_all font_size_18">
        <input id="password" type="password" maxlength="30" required class="align_center border_radius_all font_size_18">

        <div id="sign_in" class="align_center">
            <span title='eee'></span>
        </div>

		<center>
			<div id="button_next" class="white_button">Далее</div>
		</center>
	</div>
</div>