<div id="match_window" class="border_radius_all base_window">
	<div id="lable" class="border_radius_top font_size_22 base_window_lable">
        <a></a><span id="close_button" class="og-close"></span>
	</div>


	<div id="bottom_border">
	</div>

	<div id="content" class="scroll_div font_size_16 base_window_content accordion accordion-resizer">
        <div class="scroller">
            <div id="schems"></div>

            <div id="players">
                <select id="dropdown_players" class="cd-select">
                    <option id="pos0" value="-1" selected="true">Игрок</option>
                </select>
            </div>
            <div id="positions">
                <select id="dropdown_pos" class="cd-select">
                    <option id="pos0" value="-1" selected="true">Поз</option>
                </select>
            </div>

        </div>
        <div class="scroller__bar-wrapper">
            <div class="scroller__bar"></div>
        </div>



	</div>
</div>