#free_teams_window {

  height: 630px;


  #greetings {
    padding-top: 60px;
    padding-bottom: 10px;
  }

  .base_window_description {
    margin-top: 9px;
    width: 100%;
    height: 21px;
    float: left;
  }
  #button_next{
    margin-top: 15px;
  }
}

