// Place all the styles related to the AuthWindow controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//#desktop_window2 {
//  z-index: 1;
//  position: fixed;
//  height: 620px;
//  width: 776px;
//  margin-top: -15;
//  #club_icon {
//    height: 136px;
//    width: 136px;
//    padding: 18px;
//  }
//}
#desktop {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  text-shadow: 0px 1px 1px #969696;
  filter: dropshadow(color=#e5e5ee,offX=0,offY=1);

  #header{
    height: 126px;
    width: 100%;
    //background-color: beige;
    float: left;

    #club_icon {
      width: 16%;
      height: 100%;
      //background-color: #457CFF;
      float: left;
      .image {
        width: 100px;
        height: 100px;
        margin: 10px;
      }
    }
    .user_stats_texts {
      width:100%;
      height:13%;
      font: 10pt Arial;
    }
    #user_info {
      padding-top: 10px;
      float: left;
      height: 100%;
      width: 30%;
      //background-color: darkseagreen;

    }


    .match_text {
      width: 100%;
      text-align: right;
      float: left;
      .match_date {
        color: #457CFF;
        float: right;
        padding-right: 5px;
        text-align: right;
      }
      .match_clubs{
        color: #445566;
        float: right;
        padding-right: 5px;
      }
      .match_result{
        color: #B00100;
        float: right;
        font: 11pt Arial;
      }
    }

    #matches {
      padding-top: 10px;
      padding-right: 5px;
      float: right;
      height: 100%;
      width: 37%;
      //background-color: #adb8c0;
      font: 10pt Arial;
      text-align: right;
    }
  }
}
