// Place all the styles related to the AuthWindow controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#desktop_window {
  height: 620px;
  width: 776px;
  margin-top: -15;
  #club_icon {
    height: 136px;
    width: 136px;
    padding: 18px;
  }
}