#match_window {

  height: 630px;
  width: 740px;
  //background-color: #f4f4f4;

  #content {
    float:left;
    height: 540px;
    width: 730px;
    padding-left: 4px;


  }

  .scroller {
    height: 540px;
  }


}