#match_window {

  height: 630px;
  width: 740px;
  //background-color: #f4f4f4;

  #content {
    float:left;
    height: 540px;
    width: 730px;
    padding-left: 4px;

    .scroller {
      height: 540px;


      #schems {
        width: 230px;
        float: left;
        height: 100%;
        background-color: #CCCCCC;
      }

      #positions {
        float: right;
        height: 100%;
        background-color: #FFA32A;
      }

      #players {
        padding-right: 13px;
        width: 200px;
        float: right;
        background-color: #457CFF;
        height: 100%;
        .cd-dropdown,
        .cd-select {
          font-size: 12px;
          width: 185px;

        }
        .cd-dropdown ul li span {
          text-align: left;
        }


      }
    }

  }
//



}