#news_window {

  .accordion-resizer {
    padding: 10px;
    width: 350px;
    height: 220px;
  }

  height: 630px;
  width: 740px;

//  #new {
//    display: none;
//
//  }
//  #news_content {
//    display: none;
//  }
//
//  #selectable li {
//    height: 100%;
//  }
//
//  .jp-container {
//    width: 650px;
//    height: 550px;
//  }

  .og-close {

    top: 5px;
    right: 10px;

  }
  .og-close::before,
  .og-close::after {
    background: #fff;
    top: 50%;
    right: 0;
    height: 1px;
  }

  .og-close:hover::before,
  .og-close:hover::after {
    background: #000;
  }


  #content {
    float:left;
    height: 540px;
    width: 710px;
    padding-left: 4px;
    //background-color: black;
  }
  #news_container {
    float: left;
    width: 100%;

    .news_label{
      float: left;
      width: 100%;
      box-shadow: 0 15px 10px -20px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      height: 40px;
      text-align: center;
      cursor: pointer;
      border-radius: 20px;
      border-color: #adb8c0;
      margin: 0;
      margin-top: 7px;
      outline-width: 0;
    }

    h2:hover {
      background-color: #7CB2FF;
    }

    .news_content {
      text-indent: 20px;
      float: left;
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      text-align: justify;
      border-radius: 20px;
      border-color: #adb8c0;
      //margin-bottom: -20px;
    }
  }
}