.base_window {
/*  display: none;*/
  height: 600px;
  background-color: #fff;
  width:600px;
  margin-left: auto;
  margin-right: auto;
  top: -2220px;
  left: -3227px;
  position: relative;

  .base_window_lable{
    float: left;
    background: #5F97FD;
    background: -moz-linear-gradient(top, #5F97FD, #457CFF); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom,
      color-stop(0%,#5F97FD), color-stop(100%,#457CFF));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #5F97FD, #457CFF);
    background: -o-linear-gradient(top, #5F97FD, #457CFF); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5F97FD, #457CFF); /* IE10 */
    background: linear-gradient(top, #5F97FD, #457CFF); /* CSS3 */
    width:100%;
    height:40px;

    text-align: center;
    text-shadow: 1px 1px 0 #456;
    color: #FFF;
    padding-top: 7px;

  }

  .bottom_border{
    width: 100%;
    height: 1px;
    background-color: white;
    float: left;
  }

  .base_window_content{
    text-shadow: 0px 1px 1px #969696;

    filter: dropshadow(color=#e5e5ee,offX=0,offY=1);
    color: #4b453f;
    padding-left: 10px;

    #greetings {
      padding-top: 70px;
    }

    .text_warninig {
      color:red
    }

    #boxes{
      font-size: 16px;
    }

    .base_window_first_box, .base_window_second_box{
      margin-top: 10px;
      width: 45%;
      height: 150px;
      text-align: center;

      img {
        margin-top: 15px;
      }
    }

    .base_window_first_box {
      float:left;
    }
    .base_window_second_box{
      float: right;
    }

    .check_box{
      margin-top: 80px;
      text-align: center;
      width: 10%;
      float: left;
    }

    .base_window_description {
      margin-top: 80px;
      width: 100%;
      float: left;
    }
  }
}