
    <div id="header">
        <div id="club_icon">

        </div>
        <div id="user_info">
            <div id="club_name" class="user_stats_texts"></div>
            <div id="coach_name" class="user_stats_texts">тренер: Gorelov Andrey</div>
            <div id="director_name" class="user_stats_texts">директор: пока не нанят</div>
            <div id="user_coins" class="user_stats_texts">денег: 10000000$</div>
        </div>

        <div id="matches">
            <div id="last_matches">
            </div>
            <div id="next_matches">
            </div>
        </div>
        <div class="match_text">
            <div class="match_result"></div>
            <div class="match_clubs"></div>
            <div class="match_date"></div>
        </div>
    </div>
